h1 {
    font-family: 'Adelle W01 Bold', 'Arvo', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
  }
 .name-highlight{
   color: aquamarine;
 }
 .half-width{
   width: 40%;
   float: left;
   margin-left: 5%;
   padding-left: 2%;
 }
 .half-width img{
   width: 100%;
 }
 .top-banner{
   background-repeat: no-repeat;
   margin: 0;
  background-image: url(images/top-banner.png) ;
 }
 section{
   height: 500px;
   padding-bottom: 100px;
 }
 .link-button{
   text-decoration: none;
   background-image: linear-gradient(45deg, rgb(0, 255, 157),rgb(0, 183, 255));
   background-color: rgb(81, 167, 238);
   padding: 10px 20px;
   padding-bottom: 15px;
   border-radius: 7px;
   color: snow;
   font-weight: 700;
 }
 p{
   padding-bottom: 10px;
 }
 .mid-banner{
   background-image: url(images/dream-bg.png);
   background-repeat: no-repeat;
   background-position: right;
 }
 .single-experience{
   box-shadow:10px 10px 40px gray ;
   border-radius: 5px;
   height: 80%;
 }
 .experience-area{
   background-image: url(images/exp-bg.png);
   background-repeat: no-repeat;
   background-position: left;
 }
 #full-stack{
   border-left: 7px solid;
   border-image:linear-gradient(180deg,Lightsalmon, tomato);
   border-image-slice:1;
 }
 #writer{
  border-left: 7px solid;
  border-image:linear-gradient(180deg,rgb(122, 228, 255), rgb(110, 214, 69));
  border-image-slice:1;
 }
 footer p{
   font-size: 12px;
 }